{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="container">
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/contact/">Contact</a>
<a href="/nepal/">Nepal</a>
<a href="/blog/list/">BlogList</a>
<a href="/news/list/">NewsList</a>
<a href="/blog/create/">CreateForm</a>
<a href="/news/create/">NCreateForm</a>
<a href="/userform/">UserCreationForm</a>
{% if request.user.is_authenticated %}
<p class="text-info">{{request.user}}</p>
<a href="/logout/">Logout</a>

{% else %}
<a href="/login/">Login</a>
{% endif %}

{% block content %}
{% endblock %} 

</body>
</html>