{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="POST" action="/blog/{{object.id}}/delete/">
	{% csrf_token %}
	<h4>Delete {{object.title}}</h4>
	<button>Delete</button>
	<a href="/blog/list/">Cancel</a>
</form>
{% endblock %}