{% extends 'base.html' %}

{% block content %}
	<h1>Welcome to blogdetail</h1>
	<h3>{{blog.title}}</h3>
	<a href="/blog/{{blog.id}}/update/">update</a>
	<a href="/blog/{{blog.id}}/delete/">delete</a>
	<img src="{{blog.image.url}}" width=200>
	<p>{{blog.content}}</p>
	<h3>{{blog.author}}
	
{% endblock %}
