{% extends 'base.html' %}

	{% block content %}
	<h1>Welcome to bloglist</h1>
	{% for blog in allblogs %}
	<h4><a href="/blog/{{blog.id}}/detail/">{{blog.title}}</a></h4>
	<p>{{blog.author}}</p>
	 <p><a href="/blog/{{blog.id}}/detail/">{{blog.author}}</a></p>
	<img src="{{blog.image.url}}" width="200">
	{% endfor %}
	{% endblock %}