{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
	<div class="col-md-6">
		<h3>Add new blog</h3>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
			<button>Submit</button>

		</form>
	</div>
	<div class="col-md-6">
		<h3>latest blogs</h3>
		{% for blog in blogs %}
		{% for blog in blogs|slice:'5' %}
		{{blog.content|truncatechars:'100'}}
		<h4>{{blog.title}}</h4>
		<img src="{{blog.image.url}}" class="img-fluid">
		{% endfor %}
		{% endfor %}
		
	</div>
	


</div>
{% endblock %}
