{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>welcome to categorydetail</h1>
<h3>Category:{{category.title}}</h3>
{% for news in category.relatednews.all %}
<li><a href="{% url 'blogapp:newsdetail' news.id %}">{{news.title}}</a></li>
{% endfor %}
{% endblock %}