{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>hello this is contact page</h3>
<form method='POST'>
{% csrf_token %}
{{form.as_p}}
<button>Submit data</button>
</form>
{% endblock %}