{% extends 'base.html' %}
{% load static %}

{% block content %}
<hr>
{% for category in categorylist %}
<a href="{% url 'blogapp:categorydetail' category.id %}">{{category.title}}</a>|
{% endfor %}
<h3>hello this is home page</h3>
{{narendra}}
{% for blog in blogs %}
<li>{{blog.title}}
	{% endfor %}
</li>
{% for event in events %}
<ul>
	{{event.name}}
</ul>
{% endfor %}
{% endblock %}