{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3>LoginFORM</h3>
{% if error %}
<li class="text-danger">{{error}}</li>
{% endif %}
<form method="POST">
	{% csrf_token %}
	{{form.as_p}}
	<button>LOGIN</button>
</form>
{% endblock %}