{% extends 'base.html' %}
{% load static %}

{% block content %}
		<h3>Add new News</h3>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.as_p}}
			<button>Submit</button>

		</form>
{% endblock %}