{% extends 'base.html' %}

{% block content %}
	<h1>Welcome to Newslist</h1>
	{% for news in allnews %}
		<h4><a href="/news/{{news.id}}/detail">{{news.title}}</a></h4>
		<p>{{news.author}}</p>
		<img src="{{news.image.url}}" width="200">
		<h3>categories</h3>
		{% for category in news.category.all %}
			<li>{{category.title}}</li>
		{% endfor %}
		<hr>
	{% endfor %}
{% endblock %}