{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1>Welcome to newsdetail</h1>
	<h3>{{news.title}}</h3>
	<h1>{{news.category.image.url}}</h1>
	<hr>
	<a href="/news/{{news.id}}/update/">update</a>
	<a href="/news/{{news.id}}/delete/">delete</a>
	<img src="{{news.image.url}}" width=200>
	<p>{{news.content}}</p>
	<h3>{{news.author}}</h3>
	<h3>categories</h3>
	<h5>{{news.category}}</h5>
	<br>
<h3>Related News</h3><hr>
<div class="row">
	{% for article in news.category.relatednews.all %}
	{% if article.id != news.id %}

	<div class="col-md-3">
		<h4><a href="{% url 'blogapp:newsdetail' article.id %}">{{article.title}}</a></h4>
		<img src="{{article.image.url}}" class="img-fluid">
	</div>
	{% endif %}
	{% endfor %}
</div>

{% endblock %}
